body{
    background-image: url('img/create_design.jpg'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


h1{
    text-align: center;
    color: white; 
}

div{
    text-align: center;
    margin-top: 15%;
}

span{
    text-align: center;
    align-content: center;
}